{% set active_page = "Registration" %}
{% extends "base.html" %}
   
{% block top %}
<style>
  .back {
    background: url("{{config.background_image}}") no-repeat center;
    background-size: cover;
  }
  .back h2 {
    font-family: "Lato", sans-serif;
    font-weight: 900;
  }
  table td, table th {
      padding: 2pt 0.5em;
  }
  table {
      border-top: 1px solid black;
      border-bottom: 1px solid black;
      margin: 1em 0;
  }
</style>

<div class="jumbotron jumbotron-fluid back" style="padding-bottom: 20px;">
  <div class="row header p-6 m-5">
    <div class="p-1 mx-auto text-center text-white col-md-9 col-sm-12">
      <h2>
        {{config.tagline|safe}}
      </h2>
      <h2 class="p-5">
        {{config.date|safe}}
      </h2>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-sm border">
      {{ invoice | markdown }}

<form action="https://quest.ms.mff.cuni.cz/namuddis/sigdialinlginvoice/" method="post">
<label for="order">Eventbrite Order #:</label><input type="text" id="order" name="order"><br>
<label for="email">Email used for order:</label><input type="text" id="email" name="email"><br>
<label for="company">University/Company details (name, address, tax ID):</label><br><textarea rows="4" cols="50" id="company" name="company"></textarea><br>
<input type="submit" value="Submit">
</form>

    </div>
  </div>
</div>
{% endblock %}

      
