{% set page_title = paper.title %}
{% extends "base.html" %}

{% block head %}

{{ super() }}
<meta name="citation_title" content="{{paper.title}}" />
{% for author in paper.authors %}
<meta name="citation_author" content="{{author}}" />
{% endfor %}
<meta name="citation_publication_date" content="{{config.citation_date}}" />
<meta name="citation_conference_title" content="{{config.tagline|striptags|title}}" />
<meta name="citation_inbook_title" content="{{config.proceedings_title}}" />
<meta name="citation_abstract" content="{{paper.abstract}}" />
{% for pdf in paper.pdf_url %}
<meta name="citation_pdf_url" content="{{pdf|default('') }}" />
{% endfor %}

{% endblock %}

{% block content %}

<!-- Title -->
<div class="public-content notice">
    You need to log in to access the paper page.
</div>

<div class="gated-content">
    <div class="pp-card m-3">
        <div class="card-header">
            <h2 class="card-title main-title text-center">
                {{paper.title}}
            </h2>
            <h3 class="card-subtitle mb-2 text-muted text-center">
                {% for author in paper.authors %}
                <a href="papers.html?filter=authors&search={{author}}" class="text-muted"><i>{{author}}</i></a>{{ "," if
                not
                loop.last }}
                {% endfor %}
            </h3>
            <div class="text-center p-3">
                <!-- {{paper.session}} - {{paper.time}}<br /> -->
                {% if paper.paper != blank %}
                <a class="card-link" target="_blank" href="{{paper.paper}}">
                    Paper
                </a>
                {% endif %}
                {% if paper.zoom != blank %}
                <a href="{{paper.zoom}}" target="_blank" class="card-link">
                    Zoom
                </a>
                {% endif %}
                {% if paper.discord != blank %}
                <a href="{{paper.discord}}" target="_blank" class="card-link">
                    Discord
                </a>
                {% endif %}
                <br />
                {% if paper.slides != blank %}
                <a href="{{paper.slides}}" target="_blank" class="card-link">
                    Slides
                </a>
                {% endif %}
                {% if paper.poster != blank %}
                <a href="{{paper.poster}}" target="_blank" class="card-link">
                    Poster
                </a>
                {% endif %}
                {% if paper.code != blank %}
                <a href="{{paper.code}}" target="_blank" class="card-link">
                    Code
                </a>
                {% endif %}
                {% if paper.data != blank %}
                <a href="{{paper.data}}" target="_blank" class="card-link">
                    Data
                </a>
                {% endif %}<br />
                {% if paper.full_video != blank %}
                <a href="{{paper.full_video}}"><img src="static/images/{{paper.UID}}.jpg" alt="{{paper.title}}"></a>
                {% endif %}
            </div>
        </div>
    </div>
    {% if paper.abstract %}
    <div id="details" class="pp-card m-3">
        <div class="card-body">
            <div class="card-text">
                <div id="abstractExample">
                    <span class="font-weight-bold">Abstract:</span>
                    {{paper.abstract}}
                </div>
            </div>
            <p></p>
        </div>
    </div>
</div>
{% endif %}

{% endblock %}