{% set active_page = "Schedule" %}
{% set page_title = "Schedule" %}
{% extends "base.html" %}
{% block head %}
{{ super() }}
{% include 'schedule_head.html' %}
{% endblock %}


{% block tabs %}

<div class="notice">
  <span class="public-content">Please log in to access the individual paper pages.</span>
</div>

{{ components.tabs([("calendar", "Calendar", "active"), ("Monday", "Monday"), ("Tuesday", "Tuesday"), ("Wednesday",
"Wednesday"), ("Thursday", "Thursday"), ("Friday", "Friday")]) }}
{% endblock %}

{% block content %}
<div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
  <!-- Calender tab -->

  <div class="tab-pane active" id="tab-calendar" role="tabpanel" aria-labelledby="nav-profile-tab">
    <div class="form-group col">
      <label for="tzOptions">Timezone:</label>
      <select id="tzOptions" class="selectpicker" data-live-search="true">
      </select>
    </div>

    <!-- full cal for browser-->
    <div id="calendar" class="d-none d-sm-block"></div>

    <!-- small cal for smart phones-->
    <div id="calendar_small" class="d-sm-none"></div>
  </div>

  <!-- Day Tab -->

  <div class="btn-group-sm btn-group-toggle " data-toggle="buttons" id="conference-toggle">
    <label class="btn btn-light active">
      <input type="radio" name="conference-options" id="btn-allsessions" autocomplete="off" checked>All
    </label>
    <label class="btn btn-light">
      <input type="radio" name="conference-options" id="btn-sigdialsessions" autocomplete="off"> SIGDIAL
    </label>
    <label class="btn btn-light">
      <input type="radio" name="conference-options" id="btn-inlgsessions" autocomplete="off"> INLG
    </label>
  </div>
  <!-- the button group should be centered on the page -->
  <style>
    #conference-toggle {
      margin: auto;
      display: block;
      text-align: center;
      background-color: rgb(248, 248, 248);
    }
  </style>

  <script>
    // callback: if SIGDIAL button gets pressed, hide INLG sessions and vice versa
    $("input[name='conference-options']").change(function () {
      if ($("#btn-sigdialsessions").is(":checked")) {
        $("[id^=sigdial]").show();
        $("[id^=inlg]").hide();
      } else if ($("#btn-inlgsessions").is(":checked")) {
        $("[id^=sigdial]").hide();
        $("[id^=inlg]").show();
      } else {
        $("[id^=sigdial]").show();
        $("[id^=inlg]").show();
      }
    });
  </script>

  {% for day in days %}
  <div class="tab-pane fade" id="tab-{{day}}" role="tabpanel" aria-labelledby="nav-profile-tab">
    <div id="day_{{day}}">
      {{ components.sessiongroup(config.private, days[day].sessions.values()) }}
    </div>
  </div>
  {% endfor %}

  <script type="text/javascript">
    window.addEventListener("load", () => {
      const tabPanes = $(".tab-pane");
      // Create calendars:
      make_cal(false).then(({ render }) => {
        // render cal with all tabs visible
        tabPanes.css("display", "block");
        render();
        tabPanes.css("display", "");

        // re-render cal on resize
        $(window).on(
          "resize",
          _.debounce(() => {
            tabPanes.css("display", "block");
            render();
            tabPanes.css("display", "");
          }, 500)
        );
      });
      // Update Zoom & Discord links
      updateLinks();  
      // ----
      lazyLoader();
    }, "false");
  </script>
</div>
{% endblock %}
