{% set active_page = "Tutorials" %}
{% set page_title = "Tutorials" %}
{% extends "base.html" %}

{% block top %}
<style>
  .back {
    background: url("{{config.background_image}}") no-repeat center;
    background-size: cover;
  }
  .back h2 {
    font-family: "Lato", sans-serif;
    font-weight: 900;
  }
</style>

<div class="jumbotron jumbotron-fluid back" style="padding-bottom: 20px;">
  <div class="row header p-6 m-5">
    <div class="p-1 mx-auto text-center text-white col-md-9 col-sm-12">
      <h2>
        {{config.tagline|safe}}
      </h2>
      <h2 class="p-5">
        {{config.date|safe}}
      </h2>
    </div>
  </div>
</div>
{% endblock %}


{% block content %}
<div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
  <div id="day">
    <!-- Tutorials -->
    {{ components.section("Tutorials") }}
    <div class="speakers">
      {{ components.workshopgroup(tutorials) }}
    </div>
  </div>
</div>
{% endblock %}
